/* General Styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

/* Header Styles */
header {
    background-color: #a68eff;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
}

/* Profile Picture Styles */
#profile-pic {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
    border: 3px solid #ebc000;
    margin-right: 20px;
}

/* Theme Toggle Button Styles */
#themeToggle {
    padding: 10px 20px;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background 0.3s ease;
}

#themeToggle:hover {
    background-color: #333333;
}

/* Section Styles */
section {
    padding: 20px;
    margin: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Heading Styles */
h2 {
    color: #7556e6;
}

/* Unordered List Styles */
ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background-color: #f4f4f4;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
}

ul li p {
    font-weight: normal;
}

/* Read More Button Styles */
.read-more-btn {
    float: right;
    margin-left: 10px;
    cursor: pointer;
    text-decoration: none;
    color: white;
    background-color: #33a83c;
    padding: 5px 30px 5px 10px; 
    border-radius: 5px;
    border: none;
    position: relative;
}

.read-more-btn:hover {
    background-color: #386e23;
}

.read-more-btn.open {
    background-color: red;
}

.read-more-btn.open:hover {
    background-color: darkred; 
}

.read-more-btn::after {
    content: '\25BC';
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    transition: transform 0.3s ease;
}

.read-more-btn.open::after {
    transform: translateY(-50%) rotate(180deg);
}

/* Visit Project Button Styles */
.visitBtn {
    display: none;
    margin-left: 10px;
    text-decoration: none;
    color: white;
    background-color: #007bff;
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    font-weight: normal;
}

.visitBtn:hover {
    background-color: #0056b3;
}

/* Slideshow Container Styles */
.slideshow-container {
    position: relative;
    max-width: 1920px;
    margin: auto;
    margin-top: 30px;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & Previous Buttons Styles */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Slideshow Next Button Styles */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

/* Slideshow Dots/Bullets/Indicators Styles */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

/* Slideshow Fading Animation Styles */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

/* Proficiency percentage indicator text */
.center-text {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

/* Skill Bar Styles */
.skill-bar {
    margin: 10px 0;
}

.skill-bar span {
    display: block;
    font-size: 12px;
}

.bar {
    width: 100%;
    background-color: #c7c7c7;
    border-radius: 15px;
    overflow: hidden;
}

.progress {
    height: 15px;
    text-align: right;
    padding-right: 10px;
    line-height: 25px;
    color: white;
    border-radius: 5px 0 0 5px;
    position: relative;
}

.progress span {
    position: absolute;
    right: 10px;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

/* Form Styles */
form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-top: 10px;
}

form input, form textarea {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    padding: 10px;
    background-color: #7556e6;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
}

form button:hover {
    background-color: #a68eff;
}

/* Footer Styles */
footer {
    text-align: center;
    padding: 10px;
    background-color: #a68eff;
    color: #fff;
    margin-top: 20px;
}

/* Dark Mode Styles */
body.dark-mode {
    background-color: #333;
    color: #f4f4f4;
}

body.dark-mode header {
    background-color: #222;
}

body.dark-mode section {
    background-color: #444;
    color: #f4f4f4;
}

body.dark-mode ul li {
    background-color: #555;
}

body.dark-mode form input, body.dark-mode form textarea {
    background-color: #555;
    color: #f4f4f4;
    border: 1px solid #777;
}

body.dark-mode form button {
    background-color: #7556e6;
    color: #f4f4f4;
}

body.dark-mode footer {
    background-color: #222;
    color: #f4f4f4;
}

/* Social Button Styles */
.social-button {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #0077b5;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background 0.3s ease;
}

.social-button:hover {
    background-color: #005582;
}

/* About Me Section Styles */
#about {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 20px 0;
    font-size: 20px;
}

.about-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

/* Profile Picture Styles */
#profile-pic {
    width: 300px;
    height: 300px;
    border-radius: 100%;
    margin-right: 20px;
}

/* About Text Styles */
.about-text {
    max-width: 600px;
    text-align: left;
}

.about-text h3 {
    margin-bottom: 10px;
    font-size: 25px;
}

.about-text p {
    margin-top: 5px;
}

.social-button {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #0077b5;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background 0.3s ease;
}

.social-button:hover {
    background-color: #005582;
}